In [5]:
import pandas as pd
salaries = pd.read_csv("salaries.csv")#read csv to dataframe and copy

In [6]:
salaries2 = pd.read_csv("salaries.csv", index_col = 3, header = 0 ,skiprows=[1])
# Make the column playerID in the csv file as the index column and the first row as the header.
# Also, skip the second row when reading the file.

In [9]:
salaries3 = salaries2[(salaries2['teamID'] == 'ATL')|(salaries2['teamID'] == 'HOU')
          &(salaries2['salary'] >1000000)]
#Select the id of the players who are registered in ATL and HOU 
#whose salary is higher than one million.

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
...       ...    ...  ...        ...       ...
25570    2015    WAS   NL  treinbl01    512800
25571    2015    WAS   NL  ugglada01    507500
25572    2015    WAS   NL  werthja01  21000000
25573    2015    WAS   NL  zimmejo02  16500000
25574    2015    WAS   NL  zimmery01  14000000

[25575 rows x 5 columns]